<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
  <resultMap id="BaseResultMap" type="entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="e_mail" jdbcType="VARCHAR" property="eMail" />
    <result column="isactivite" jdbcType="BIT" property="isactivite" />
    <result column="niclname" jdbcType="VARCHAR" property="niclname" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="birthdy" jdbcType="TIMESTAMP" property="birthdy" />
    <result column="declaration" jdbcType="VARCHAR" property="declaration" />
    <result column="partId" jdbcType="VARCHAR" property="partid" />
    <result column="partname" jdbcType="VARCHAR" property="partname" />
  </resultMap>

  <resultMap id="selectAnnounceMap" type="entity.User" extends="BaseResultMap">
    <collection property="announces" ofType="entity.Announce">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="content" jdbcType="VARCHAR" property="content" />
      <result column="date" jdbcType="TIMESTAMP" property="date" />
      <result column="hot" jdbcType="INTEGER" property="hot" />
      <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 02 10:14:48 CST 2017.
    -->
    id, username, password, e_mail, isactivite, niclname, head, gender, mobile, birthdy, 
    declaration, partId, partname
  </sql>

  <select id="selectByUsername" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT username
    FROM user
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="findUserByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
     where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 02 10:14:48 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 02 10:14:48 CST 2017.
    -->
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 02 10:14:48 CST 2017.
    -->
    insert into user (id, username, password, 
      e_mail, isactivite, niclname, 
      head, gender, mobile, birthdy, 
      declaration, partId, partname
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{eMail,jdbcType=VARCHAR}, #{isactivite,jdbcType=BIT}, #{niclname,jdbcType=VARCHAR}, 
      #{head,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, #{mobile,jdbcType=VARCHAR}, #{birthdy,jdbcType=TIMESTAMP}, 
      #{declaration,jdbcType=VARCHAR}, #{partid,jdbcType=VARCHAR}, #{partname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="eMail != null">
        e_mail,
      </if>
      <if test="isactivite != null">
        isactivite,
      </if>
      <if test="niclname != null">
        niclname,
      </if>
      <if test="head != null">
        head,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="birthdy != null">
        birthdy,
      </if>
      <if test="declaration != null">
        declaration,
      </if>
      <if test="partid != null">
        partId,
      </if>
      <if test="partname != null">
        partname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null">
        #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="isactivite != null">
        #{isactivite,jdbcType=BIT},
      </if>
      <if test="niclname != null">
        #{niclname,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birthdy != null">
        #{birthdy,jdbcType=TIMESTAMP},
      </if>
      <if test="declaration != null">
        #{declaration,jdbcType=VARCHAR},
      </if>
      <if test="partid != null">
        #{partid,jdbcType=VARCHAR},
      </if>
      <if test="partname != null">
        #{partname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 02 10:14:48 CST 2017.
    -->
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null">
        e_mail = #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="isactivite != null">
        isactivite = #{isactivite,jdbcType=BIT},
      </if>
      <if test="niclname != null">
        niclname = #{niclname,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birthdy != null">
        birthdy = #{birthdy,jdbcType=TIMESTAMP},
      </if>
      <if test="declaration != null">
        declaration = #{declaration,jdbcType=VARCHAR},
      </if>
      <if test="partid != null">
        partId = #{partid,jdbcType=VARCHAR},
      </if>
      <if test="partname != null">
        partname = #{partname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.User">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 02 10:14:48 CST 2017.
    -->
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      e_mail = #{eMail,jdbcType=VARCHAR},
      isactivite = #{isactivite,jdbcType=BIT},
      niclname = #{niclname,jdbcType=VARCHAR},
      head = #{head,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      mobile = #{mobile,jdbcType=VARCHAR},
      birthdy = #{birthdy,jdbcType=TIMESTAMP},
      declaration = #{declaration,jdbcType=VARCHAR},
      partId = #{partid,jdbcType=VARCHAR},
      partname = #{partname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>